api/n8n/workflows/profit-alert.json
{
  "name": "profit-alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "fc775471-4de5-4778-8f5f-4e42be1f9352",
      "name": "Schedule Trigger",
      "retryOnFail": true
    },
    {
      "parameters": {
        "url": "http://api:3333/daily-sales/profit-alert",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "bcbd3d27-e488-4649-861a-0aa7dd97866c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c2299462-124a-4250-a9a2-2f431df80e4b",
              "leftValue": "={{ $json.alertSituation }}",
              "rightValue": "perda",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "0bddffb6-93f4-407e-9f87-3fe8a3487ea0",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "console.log('🚨 ALERTA DE PERDA:', $input.first().json);\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -96
      ],
      "id": "61d42c8e-945c-4f32-bf5b-d099c8677f51",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "4cbffa11-7ccd-449e-99a7-cdf9865ae1cd",
  "meta": {
    "instanceId": "a18ba947be892a15e02de3c2ad66e3ce1d0d48efbf19a1efc07ee907bfd7dd81"
  },
  "id": "HtIBYG0BbGS2g9Gi",
  "tags": []
}